# Custom ignores for this project

# Build outputs
target
bin

# SBT build files
.cache
.cache-main
.cache-tests
project/project

# Eclipse files
.project
.classpath
.settings
.worksheet

# Scala worksheets
*.sc

# IDEA files
.idea*
*.iml

# Ensime files
.ensime
.ensime_cache
/ensime.sbt

# Vim files
.sw[a-z]
*.sw[a-z]

# macOS files
.DS_Store

# Never-commit files
*.jar
*.class

# Assorted log files
/*.log
/log
/*.script
typescript
