dist: xenial
branches:
  except:
    - /^v\d/
language: scala
scala:
  - 2.10.7
  - 2.11.12
  - 2.12.8
  - 2.13.0-RC1
  - 2.13.0-RC2
  - 2.13.0-RC3
script:
  - 'sbt -Dsbt.log.noformat=true ++$TRAVIS_SCALA_VERSION test makeSite'
  - 'if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_BRANCH}" = "master" ]; then sbt ++$TRAVIS_SCALA_VERSION publish; fi'
jdk:
  - openjdk8
env:
  global:
  - secure: LZqtbvSqVPpycaMLC9FnCaEs70WLt9tr+477t6jdCwyUgkaRfcBvLVeh/EsH4RJW+GtvNqmpZ43dpUGrnxZktFvZz+1LdPNtVggLza+ysMd/KlVlSXT1Re1NvArc4nE9Po+hQws26ehvlk2+BKh0e5SfXRU/3+NDs1H0bgtkQVU=
  - secure: aqp+oGdQuHoKktOM9r6AEvNqSWCXnmCF6hAZMgVY1A5PFM9sW+gKqe91WfjCOikv/RSv1Vq/rD4KXxGeW/+M4RntGjhBXKuyQ3nqBZQL5LcpPp9xY15JUW1FteBHam4DuAOxyuudJSONmbb8KdC33siBHHcJe5/diqAUazXFMg0=
