<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>abba %r [%thread] %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="TEST" class="org.log4s.TestAppender"/>

  <logger name="test" additivity="false" level="TRACE">
    <!-- We don't want to print these: we want to capture them for testing. -->
    <appender-ref ref="TEST" />
  </logger>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
