<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%r [%thread] %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="quiet" additivity="false">
    <!-- No appenders here: we want to suppress these. -->
  </logger>
</configuration>
